.header-main {
  padding: 10px;
  position: fixed;
  left: 20px;
  background: rgba($color: white, $alpha: 0.1);
  color: white;
  backdrop-filter: blur(20px);
  flex-direction: column;
  z-index: 10;
  gap: 10px;
  border-radius: 40px;
  .icon {
    width: 60px;
    height: 60px;
    background: rgba($color: white, $alpha: 0.1);
    border-radius: 30px;
    border: 2px solid transparent;
    cursor: pointer;
    .icon-main {
      font-size: 1.5rem;
    }
  }
  .icon:hover {
    border: 2px solid rgba($color: white, $alpha: 0.1);
    background: transparent;
  }
  #active {
    border: 2px solid rgba($color: white, $alpha: 0.1);
    background: transparent;
  }
}

@media (max-width: 600px) {
  .header-main {
    flex-direction: row;
    bottom: 20px;
    left: calc(50% - 190px);
  }
}
