.main-container {
  width: 100%;
  height: 95vh;
  margin-top: 2vh;
  overflow: scroll;
  .wrapper {
    width: 100%;
    height: 90vh;
    gap: 20px;
    flex-wrap: wrap;
    .card {
      height: 430px;
      width: 350px;
      border-radius: 25px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      position: relative;
      .top {
        position: absolute;
        top: 20px;
        left: 20px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
      .title {
        position: absolute;
        top: 70px;
        left: 20px;
        margin-right: 20px;
        h1 {
          text-align: start !important;
          font-size: 1rem;
          font-weight: 600;
          color: white;
        }
      }
      .tags {
        position: absolute;
        left: 20px;
        top: 105px;
        gap: 5px;
        .tag {
          padding: 8px 20px;
          background: rgba($color: white, $alpha: 0.1);
          color: white;
          border: 1px solid #80808090;
          border-radius: 20px;
          font-size: 0.5rem;
          font-weight: 600;
        }
      }
      .main-image {
        width: 310px;
        position: absolute;
        top: 155px;
        img {
          width: 100%;
          height: 180px;
          border-radius: 15px;
          border: 1px solid;
        }
      }
      .icons {
        width: calc(100% - 40px);
        position: absolute;
        bottom: 20px;
        justify-content: space-between;
        .icon {
          width: 50px;
          height: 50px;
          background: rgba($color: white, $alpha: 0.1);
          border: 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          cursor: pointer;
        }
      }
    }
  }
}

.first-time {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba($color: black, $alpha: 0.1);
  z-index: 10000;
  backdrop-filter: blur(10px);

  .wrapper {
    animation: animate 500ms linear;
    background: #111;
    padding: 30px;
    border-radius: 15px;
    color: white;
    gap: 10px;
    position: relative;
    h1 {
      font-size: 1.2rem;
      font-weight: 900;
    }
    p {
      font-weight: 400;
      font-size: 0.6rem;
      max-width: 250px;
      text-align: center;
      text-transform: lowercase;
    }
    .inputs {
      gap: 10px;

      margin-top: 20px;
      .input-wrap {
        position: relative;
        margin-top: 10px;
        input {
          width: 250px;
          height: 40px;
          border: 1px solid #80808090;
          background: transparent;
          outline: none;
          color: white;
          padding-left: 20px;
          border-radius: 10px;
        }
        label {
          position: absolute;
          padding: 0 10px;
          background: #111;
          font-size: 0.6rem;
          font-weight: 600;
          top: -7px;
          left: 10px;
        }
      }
    }
    .cards {
      width: 270px;
      justify-content: space-between;
      gap: 10px;
      .card {
        width: 90px;
        height: 50px;
        gap: 5px;
        background: rgba($color: white, $alpha: 0.1);
        border-radius: 15px;
        cursor: pointer;
        p {
          text-transform: capitalize;
          font-weight: 500;
        }
      }
      .card:hover {
        background: royalblue;
      }
    }
    .btn-confirm {
      width: 270px;
      height: 45px;
      background: royalblue;
      border: none;
      font-size: 0.8rem;
      font-weight: 600;
      color: white;
      cursor: pointer;
      border-radius: 15px;
    }
  }
}

@keyframes animate {
  from {
    scale: 0.8;
  }
  to {
    scale: 1;
  }
}
